/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* VARIABLES */
:root {
    --color: #2B404A;
    --background-color: #F2F2F2;
    --font-size: 16px;

    /* Font Family's */
    --headers: 'Abril Fatface';
    --default: 'Cantarell';
}

/* UNIVERSAL STYLES */
body {
    max-width: 1000px;
    margin: 10px auto;
    padding: 0 20px;
    font-family: var(--default);
    color: var(--color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5 {
    font-family: var(--headers);
}
b {
    font-family: var(--default);
    font-weight: bold;
}
.navigation a {
    text-decoration: none;
    color: var(--default);
}

/* HEADER */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.profile {
    display: flex;
    width: min(460px, 100%);
}
.profile .pic {
    border-radius: 50%;
    width: 15%;
    height: auto;
}
.profile .name {
    padding-top: 10px;
    padding-left: 10px;
    width: 85%;
    height: auto;
}
.navigation {
    width: min(500px, 100%);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

/* ABOUT ME */
.aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.aboutme .text {
    width: 500px;
}
.images {
    width: 460px;
    height: 400px;
    overflow: scroll;
}
.columns {
    width: 460px;
    column-gap: 5px;
    column-count: 3;
}
.columns > .image {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

.photo {
    display: block;
    height: auto;
    transition-property: filter, transform;
    transition-duration: 0.5s;
}
.image:hover > .photo {
    filter: blur(4px) brightness(75%);
    transform: scale(104%);
}

.image > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    opacity: 0;
    color: white;
    width: 80%;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.image:hover > p {
    opacity: 1;
}

/* PROJECTS */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects .project {
    width: 480px;
    display: grid;
}
.project .product {
    width: 100%;
}

/* SKILLS */
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.skills .logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    width: min(480px, 100%);
    gap: 5px;
    justify-content: center;
    align-content: center;
}
.skills .logos img {
    width: 80px;
    height: 80px;
}

/* EDUCATION */
table {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse; /* Merges cell borders */
}

th, td {
    border: 2px solid #ddd; /* Light gray border */
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
    background-color: #a4bdda;
}

td {
    background-color: #ffffff;
}

/* CONTACT */
.contact-me {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.contact-me a {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(68, 96, 148);
    color: white;
    text-decoration: none;
}
.contact-me > div {
    width: 100%;
    display: flex;
    gap: 5px;
}
.downloads > * {
    width: 50%;
    text-align: center;
    padding: 5px;
}
.email > * {
    width: 100%;
    text-align: center;
}
.socials > * {
    width: 33%;
    text-align: center;
}



/* RESPONSIVE DESIGN */
@media (max-width: 999px)  {
    body {
        max-width: 600px;
    }
    header, .aboutme, .aboutme .text, .product {
        all: unset;
    }
    header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    header .profile {
        width: unset;
    }
    .images {
        width: 100%;
        height: fit-content;
        display: grid;
        justify-content: center;
    }
    .projects {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .projects .project {
        width: 100%;
    }
    .project .product {
        max-width: 500px;
        margin: 0 auto;
    }
    .skills .logos {
        margin: 0 auto;
    }
    .skills .text {
        width: 100%;
    }
}

@media (max-width: 499px) {
    .images .columns {
        column-count: 2;
        width: 305px;
    }
}