/* Main Styling */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(211 211 211);
  display: grid;
  grid-template-areas:
    "head head"
    "main main"
    "foot foot";
  margin: 0 auto;
}

/* Header */
header {
  grid-area: head;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}


header nav ul li{
  font-family: "Ubuntu Condensed", sans-serif;
  padding: 0 10px;
}

header nav ul li:last-child{
  padding-right: 0;
}

/* Main */
main {
  grid-area: main;
}

#about {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: white;
  height: 250px;
}

#about .title {
  background-image: url('./media/awhitu.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

#about .title h2 {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: rgb(255 255 255 / 60%);
  display: inline-block;
  width: auto;
}

#about .description {
  grid-column-start: 3;
  grid-column-end: 4;
}

#varieties {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40% repeat(3, 1fr);
  grid-gap: 10px;
  background-color: rgb(211 211 211);
}

#varieties .main {
  padding-left: 10px;
  background-color: white;
}

#varieties .main ul {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#varieties h3 {
  background-color: rgb(255 255 255 / 60%);
  text-align: center;
  width: auto;
}

#varieties .apple {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#varieties .grannySmith {
  background-image: url('./media/GrannySmith.webp');
  background-size: 100% auto;
}

#varieties .gala {
  background-image: url('./media/gala.jpeg');
}

#varieties .honeycrisp {
  background-image: url('./media/honeycrisp.jpg');
}


#visit {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: white;
}

#visit .title {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url('./media/planyourtrip.webp');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#visit .title h2 {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: rgb(255 255 255 / 60%);
  display: inline-block;
  width: auto;
}

#visit .description {
  padding-bottom: 10px;
}

#contact {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: white;
}

/* Footer */
footer {
  grid-area: foot;
  margin-top: 10px;
  padding: 0 10px;
  background-color: white;
}

/* Device Width */
@media (min-width: 1000px) {
  body {
    width: 1000px;
  }
}
