@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');




body {
    margin: 0 180px 0 180px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;

    background-color: #F2F2F2;
}

h1, h2, h3, h4 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

p, li, a {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: normal;
}